.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: color 150ms ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOptionIcon {
    padding: 0px 10px;
}
.sidebarOption > p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}